.blogPostcontainer{
    width: 70%;
}

.blogHeader{
    text-align: center;
}

.blogCategory{
    display: block;
    font-size: 14px;
    margin: 10px 0;
}


.postTitle{
    letter-spacing: 0.5px;
    text-transform: capitalize ;
    font-size: 30px;
    margin: 0;
    font-weight: 400;
}

.postBy{
    font-size: 15px;
    font-style: italic;
    padding: 10px 0;
    display: block;
}

.postImageContainer{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.postImageContainer img{
    width: 100%;
    height: 100%;

}

.postContent{
    padding: 20px;
}

.postContent p{
    margin-top: 30px;
}